{% extends 'base.html.twig' %}

{% block title %}
	{{ produit.nomProduit }}
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row g-4 align-items-center">
			<div class="col-12 col-md-6 order-1 order-md-1">
				<div class="card shadow-sm border-0 product-detail-card">
					<div class="card-img-wrapper">
						<img src="{{ asset('uploads/images/' ~ produit.imageProduit) }}" alt="{{ produit.nomProduit }}" class="product-detail-img">
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 order-2 order-md-2">
				<div class="card shadow-sm border-0 product-detail-card p-4 d-flex flex-column justify-content-center h-100">
					<h2 class="mb-3" style="color:#a35252;">{{ produit.nomProduit }}</h2>

					<p class="text-muted mb-4">{{ produit.descriptionProduit }}</p>

					<p class="fw-bold h4 mb-3" style="color:#b65a5a;">
						{{ produit.prixProduit }}
						€
					</p>

					{% if produit.stock > 0 %}
						<p class="text-success mb-4">En stock :
							{{ produit.stock }}</p>
						<a href="{{ path('app_add_panier', {'id': produit.id}) }}" class="btn btn-danger">
							Ajouter au panier
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
